.nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 40px;
  	background-color: #0a446b;
  	height: 100%;
  	position: fixed;
  	overflow: auto;
  	top: 0px;
  	left: 0px;
  	transition-duration: 300ms;
}

.nav_bar:hover {
	width: 250px;
	transition-duration: 300ms;
}


.ligne img {
	display: block;
	position : fixed;
	left : 0px;
	padding: 0px 9px;
	height: auto;
	width: 22px;
}

.nav_bar li a {
	display: block;
	text-decoration: none;
	display: block;
	color: white;
	padding: 6px 7px;
	font-size: 1.3em;
	font-family: 'HelveticaNeue';
	white-space: nowrap;
  	overflow: hidden;
}



.ligne {
	list-style-type: none;
}


.nav_bar li{
	display: block;
}

.nav_bar li:hover {
  	background-color: #8f8f8f;
  	color: white;
  	transition-duration: 300ms;
}

.nav_bar li:hover a{
  	color: white;
}

.nav_bar div {
	display: block;
	margin-left: 16%;
	padding: 3px 15px 0px 30px;
}

li.active {
	background-color: #168ad9;
	color: white;
}

@font-face
{
	font-family: 'HelveticaNeue';
	src: url('HelveticaNeue Thin.ttf') format('truetype');
}





#wave{
    position : fixed; 
    width : auto ;
    height : 100%;
    top : 0px;
    left : 0px;
}

#care{
    width : 40%;
    height : 40%;

}

#barre {
    width : 70%;
    height : 70%;
   
    
}

#logo {
    width : 10%;
    height : 10%;
    float : right ; 
    

}


.titre{
    font-family : HelveticaNeue; 
    font-size : 40px; ;
    text-align : center ; 
    font-weight : lighter;
    margin-left : 170px;
    

}
nav {
     
    font-family :  HelveticaNeue; 
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center; 
    margin : 100px 480px 100px 480px; 
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
}

input{
    font-size : 20px;
    line-height: 40px;
    margin : 4px; 
    
}

.mdp {

    font-size : 15px;
    text-decoration : underline;
    text-align : right ; 
    padding-right : 35px;
}
.connexion {
   
    font-size : 20px;
    border-style : solid;
    border-color: black;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 10px;
    padding-right : 10px;
    margin-left : 110px; 
    margin-bottom : 20px; 
    border-width : thin;
     

}
.connexion:hover{background-color :rgb(31, 31, 100)}

.inscrip {
    white-space : nowrap;
    border-style : none;
    font-size : 20px;
    border-color :black;
    color :white;
    background :#FF9300; 
    border-width : thin ; 
    padding-top : 12px;
    padding-bottom : 12px;
    padding-left : 140px;
    padding-right : 140px;
    margin : 0%;
    border-radius : 0px 0px 15px 15px;
    
}
.inscrip:hover{background-color :orange}

.resteco{
    font-size : 15px; 
}

.alignement {
    display : inline ;
}