body { background-image: url("image_de_fond.png");
       background-repeat: no-repeat;
       background-size: 100%; }

img { width: 250px;
      height: 125px;
      margin-left: 100px;
      margin-top: 120px; }

h2 { color: white;
     margin-left: 20px;
     font-size: 3.5vw;
     font-family:"HelveticaNeue";}

h3 { color: white;
     margin-left: 20px;
     font-size: 2vw;
     font-family:"HelveticaNeue";
     width: 50%;} 

/*a { text-decoration: none;
    font-family:"HelveticaNeue";
    color: white;
    border: solid white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 75px; 
    C'EST MANTENANT

Gros testeee}   */  



span p { font-size: large;
       justify-content: right;
       padding: 20px;
       border-radius: 10px;
       color: #3C3C3A;
       font-family:"HelveticaNeue";
       font-weight: normal;
       text-align: center;}

span a { text-decoration: none;
         font-weight: bold;
         text-align: left; 
         color: white;}

#en_savoir_plus { height: 0;
                  overflow: hidden;
                  transition: height ;
                  text-decoration: none; } 
#en_savoir_plus fieldset { padding: 0px;
                           border: solid white;
                           border-radius: 5px;}
#en_savoir_plus:target { height: 200px; }                






footer { text-align: center;
         font-family:"HelveticaNeue";
         font-size: 2vw;
         position: absolute; bottom: 0; left: 0; right: 0;
         text-decoration-color: #3C3C3A;
         padding-top: 0;}

footer a { text-decoration: none;
           font-family:"HelveticaNeue";
           font-size: 70%; 
           color: black;}

footer a:hover { color: orange;
                 transition-duration: 500ms; }           

footer a:active { text-decoration: none; }          