@font-face
{
	font-family: 'HelveticaNeue Thin';
	src: url('HelveticaNeueThin.ttf') format('truetype');
}

@media screen and (max-width: 550px) {
	#nav_connection{
	display: none;
	}
	#nav_invite{
	display: none;
	}
	#nav_inscription{
	display: none;
	}
	#nav_menu_bar{
		display: block;
	}
}
@media screen and (min-width: 550px) {
	#nav_menu_bar{
		display: none;
	}
}

.nav_bar_horizon {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
  	background-color: white;
  	position: fixed;
  	overflow: hidden;
  	width: 100%;
  	top: 0;
  	left: 0;
}

#nav_logo{
	position: fixed;

	top: 10px;
	left: 10px;
	max-width: 100px;
	height: auto;
}
#nav_menu_bar{
	max-width: 35px;
	height: auto;
}

.nav_bar_horizon li {
	float:right;
	position: relative;
	display: inline-block;
	padding: 10px 10px;
}
.nav_bar_horizon li a {
	display: block;
	text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: "HelveticaNeue Thin";
}

#nav_connection{
    background-color: #1276BA;
    color: white;
}

#nav_invite{
	background-color: #ff9300;
	color: white;
}
#nav_inscription{
	color: black;
	background-color: white;
}

#nav_inscription:hover {
  	background-color: #cccccc;
  	transition-duration: 200ms;
}
#nav_invite:hover {
  	background-color: #a86100;
  	transition-duration: 200ms;
}
#nav_connection:hover {
  	background-color: #0a456e;
  	transition-duration: 200ms;
}
#careImg { width: 25%;
      height: auto;
      margin : auto;
      padding-top: 60px;
      padding-left: 40px;
       }

body { background-image: url("image_de_fond.png");
       background-repeat: no-repeat;
       background-size: 100%; }
       


h2 { color: white;
     margin-left: 60px;
     margin-top: 10px;
     font-size: 4vw;
     font-family: 'HelveticaNeue Thin';}

h3 { color: white;
     margin: 120px 0px 0px 40px;
     font-size: 2.3vw;
     font-family: 'HelveticaNeue Thin';
     width: 50%;} 

h4 {
    color: white;
     margin: 10px 0px 0px 40px;
     font-size: 1.5vw;
     font-family: 'HelveticaNeue Thin';
     width: 50%;
}

/*a { text-decoration: none;
    font-family:"HelveticaNeue";
    color: white;
    border: solid white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 75px; }  



span p { font-size: large;
       justify-content: : right;
       padding: 20px;
       border-radius: 10px;
       color: #3C3C3A;
       font-family: 'HelveticaNeue Thin';
       font-weight: normal;
       text-align: center;}

span a { text-decoration: none;
         font-weight: bold;
         text-align: left; 
         color: white;}

#en_savoir_plus { height: 0;
                  overflow: hidden;
                  transition: height ;
                  text-decoration: none; } 
#en_savoir_plus fieldset { padding: 0px;
                           border: solid white;
                           border-radius: 5px;}
#en_savoir_plus:target { height: 200px; }  */  


span a { text-decoration: none;
         font-weight: normal;
         color: white; 
         border: solid white;
         border-radius: 10px;
         border-width: 2px;
         padding: 15px;
         text-align: center; }

span p { font-size: large;
       justify-content: center;
       padding-left: 20px;
       padding-right: 20px;
       color: white;
       text-align: center;}             
 
#connection { height: 0;
              overflow: hidden;
              transition: height 500ms;
              text-decoration: none; } 

#connection fieldset {padding-left: 50px;
                      padding-right: 50px;
                      width: 75%;
                      text-align: justify;
                      border: none;}

#connection:target { height: 200px; }


button {
   
    font-size : 20px;
    border-style : solid;
    border-color: #1276BA;
    border-radius: 5px;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 10px;
    padding-left : 10px;
    padding-right : 10px;
    margin-left : 45%; 
    margin-top : 30px; 
    border-width : thin; 

}
button:hover{
    background-color : #FF9300;
    border-color: #FF9300;
    transition-duration: 500ms;        

}




/*footer { text-align: center;
         font-family:"HelveticaNeue";
         font-size: 2vw;
         position: absolute; bottom: 0; left: 0; right: 0;
         text-decoration-color: #3C3C3A;
         padding-top: 0;}

footer a { text-decoration: none;
           font-family:"HelveticaNeue";
           font-size: 70%; 
           color: black;}

footer a:hover { color: orange;
                 transition-duration: 500ms; }           

