
.footer{
    width: 100%;
    position: fixed;
    bottom:0px;
    left: 0px;
    background-color: white;
    bottom:0px;
    left: 0px;
    list-style-type: none;
}

.footer li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;
}


.footer ul::after{
    content: "";
    display: table;
    clear: both;
}

.footer a{
    width: 100%;
    background-color: #D3D3D3;
    display: block ;
    text-decoration: none;
    color: black;
    padding:15px;
}

.footer a:hover{
    color: white;
}
