@font-face{
    font-family: 'HelveticaNeue';
    src: url('../HelveticaNeueThin.ttf') format('truetype');
}


html, body {
	height: 100%;
    margin: 0px;
     padding: 0px;
    
    overflow-x: hidden;

}
body {
    display : table;
    width: 100%;
}
footer{
    /* width: 98.5%; */
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: table-row;
}

.footer li{
    float: right;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;
}


.footer ul::after{
    content: "";
    display: table;
    clear: both;
}

.footer a{
    width: 100%;
    background-color: #D3D3D3;
    display: block ;
    text-decoration: none;
    color: black;
    padding:15px;
    font-family: HelveticaNeue;
}

.footer a:hover{
    color: white;
}
