@font-face{
    font-family: 'HelveticaNeue';
    src: url('../HelveticaNeueThin.ttf') format('truetype');
}

body {
    overflow-x: hidden;

}

.footer{
    /* width: 98.5%; */
    width: 100%;
    bottom:0px;
    left: 0px;
    background-color: white;
    list-style-type: none;
    display: inline;
    margin: 0px;
}

.footer li{
    float: right;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;
}


.footer ul::after{
    content: "";
    display: table;
    clear: both;
}

.footer a{
    width: 100%;
    background-color: #D3D3D3;
    display: block ;
    text-decoration: none;
    color: black;
    padding:15px;
    font-family: HelveticaNeue;
}

.footer a:hover{
    color: white;
}
