@import url("../Nav_Bar_Website/Nav_bar verticale.css");
@import url("../Footer/footer.css");        

@font-face{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}

body
{
    background-image: url('../Modifier_Profil/IMG_7019 - copie 5.jpg');
    background-position:  center;
    background-size: 100%;
}

.cadre {
    background-color: rgb(255, 255, 255);
    font-family :  HelveticaNeue; 
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center;
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
    width: 400px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: rgb(128, 128, 128) 0 0 20px;
}

.input{
    font-size : 20px;
    line-height: 40px;
    margin : 4px; 
    
}

#titre{
    font-family : HelveticaNeue; 
    font-size : 40px; ;
    text-align : center ; 
    margin-top: 10px;   
    margin-bottom: 0px;
}

#care{
    width : 40%;
    height : auto;

}

#barre {
    width : 80%;
    height : 1.5px;
}


.button1 {
    font-size : 20px;
    border-style : solid;
    border-color: black;
    background-color : orange;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 20px;
    padding-right : 20px; 
    border-width : thin;
    text-align: center;
     

}

.button1:hover{background-color :rgb(251, 131, 0)}

.button2 {
   
    font-size : 20px;
    text-decoration:none;
    border-style : solid;
    border-color: black;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 20px;
    padding-right : 20px;
    margin-left : 100px; 
    margin-bottom : 20px; 
    border-width : thin;
    text-align: center;
     

}

.button2:hover{background-color :rgb(31, 31, 100)}


.alignement {
    display : inline ;
}

