@font-face
{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}


#wave{
    position : fixed; 
    width : auto ;
    height : 100%;
    top : 0px;
    left : 0px;
}

#care{
    width : 40%;
    height : 40%;

}

#barre {
    width : 70%;
    height : 70%;
   
    
}

#logo {
    width : auto;
    height : 60px;
    float : right ; 
    

}

.linear-gradient {
  background: linear-gradient(gray, transparent);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left:0px;
}

.titre{
    font-family : HelveticaNeue; 
    font-size : 40px; ;
    text-align : center ; 
    font-weight : lighter;
    margin-left: 10%;
    margin-top: 20px;
    

}
nav {
     
    font-family :  HelveticaNeue; 
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center;
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
    width: 400px;
    margin: auto;
    margin-top: 100px;
}

input{
    font-size : 20px;
    line-height: 40px;
    margin : 4px; 
    
}

.mdp {

    font-size : 15px;
    text-decoration : underline;
    text-align : right ; 
    padding-right : 35px;
}

a {
    font-size : 20px;
    color : white ; 
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.connexion {
   
    font-size : 20px;
    border-style : solid;
    border-color: black;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 10px;
    padding-right : 10px;
    margin-left : 110px; 
    margin-bottom : 40px;
    border-width : thin;
     

}
.connexion:hover{background-color :rgb(31, 31, 100)}

.inscrip {
    white-space : nowrap;
    border-style : none;
    font-size : 20px;
    border-color :black;
    color :white;
    background :#FF9300; 
    border-width : thin ; 

    width: 100%;
    height: 40px;
    margin : 0px;
    border-radius : 0px 0px 15px 15px;
    
}
.inscrip:hover{background-color :orange}

.resteco{
    font-size : 15px; 
}

.alignement {
    display : inline ;
}

@media screen and (max-width: 900px) {
    #wave {
        display: none;
    }

}