@font-face
{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}


#wave{
    position : fixed; 
    width : auto ;
    height : 100%;
    top : 0px;
    left : 0px;
}

#care{
    width : 40%;
    height : auto;

}

#barre {
    width : 70%;
    height : 2px;
   
    
}

#logo {
    width : auto;
    height : 60px;
    float : right ; 
}

#retouracc{
    text-decoration: none;
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}

#connect{
    font-size: 15px;
    text-decoration-color: black;
}

#vous{
    font-size: 15px;
    text-decoration-color: black;
}

.linear-gradient {
  background: linear-gradient(gray, transparent);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  left:0px;
}

.titre{
    font-family : HelveticaNeue; 
    font-size : 40px; ;
    text-align : center ; 
    font-weight : lighter;
    margin-left: 10%;
    margin-top: 20px;   
}

nav {
     
    font-family :  HelveticaNeue; 
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center;
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: rgb(128, 128, 128) 0 0 20px;
}

input{
    font-size : 20px;
    line-height: 40px;
    margin : 4px; 
    
}

a{
    text-decoration: none;
}

.mdp {
    text-decoration: none;
    font-size : 15px;
    text-decoration : underline;
    text-align : left ; 
    padding-left : 15px;
}

.connexion {
   
    font-size : 20px;
    border-style : solid;
    border-color: black;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 20px;
    padding-right : 20px;
    margin-left : 100px; 
    margin-bottom : 20px; 
    border-width : thin;
    text-align: center;
     

}

.connexion:hover{background-color :rgb(31, 31, 100)}


.resteco{
    font-size : 15px; 
}

.alignement {
    display : inline ;
}

@media screen and (max-width: 900px) {
    #wave {
        display: none;
    }

    #logo{
        display: none;
    }
}