#chartContainer {
    margin: 50px;
}
#chartContainer2 {
    margin: 50px;
}
#chartContainer3 {
    margin: 50px;
}
#chartContainer4 {
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}