@import url("../Footer/footer.css");
body {
    background-image: url("fondquisommesnous.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#retouracc{
    text-decoration: none;
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}


h1 {
    color: orange;
    margin-left: 20%;
    font-size: 4em;
    font-family: "HelveticaNeue";
}

.texte {
    font-size: 1.5em;
    font-family: "HelveticaNeue";
    margin-left: 20px;
}

.liste li {
    font-size: 1.5em;
    font-family: "HelveticaNeue";
    margin-left: 20px;
}

.bouton {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-decoration-color: black;
    font-size: 5em;
    font-family: "HelveticaNeue";
    text-decoration: none;
}

.bouton:hover {
    color: orange;
    transition-duration: 500ms;
}

#conteneur {
    margin-top: 80px;
    margin-left: 70px;
    padding-bottom: 180px;
}

.footer {
    position: fixed;
}