@import url("../Footer/footer.css");
@font-face{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}


#retouracc{
    text-decoration: none;
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}

h1{
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}

body
{
    background-image: url('IMG_7019 - copie 5.jpg');
    background-position:  center;
    background-size: 100%;
}
form{
    width: 400px;
}
fieldset{
     
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center;
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: rgb(128, 128, 128) 0 0 20px;
}