@import url("../Footer/footer.css");
@font-face{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}

#wave{
    position : fixed; 
    width : auto ;
    height : 100%;
    top : 0px;
    left : 0px;
}

#logo {
    width : auto;
    height : 60px;
    float : right ; 
    

}
#retouracc{
    text-decoration: none;
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}

h1{
    text-decoration-color: black;
    font-size: 20px;
    top:5px;
}

body
{
    background-image: url('IMG_7019 - copie 5.jpg');
    background-position:  center;
    background-size: 100%;
}

fieldset{
     object-position: center;
}