@import url("../Nav_Bar_Website/Nav_bar verticale.css");
@import url("../Footer/footer.css");


@font-face{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}


body
{
    background-image: url('IMG_7019 - copie 5.jpg');
    background-position:  center;
    background-size: 100%;
}

nav {
     
    font-family :  HelveticaNeue; 
    font-size : 20px ; 
    color:black;
    border-style : solid ; 
    text-align : center;
    border-radius : 3px 3px 15px 15px;
    border-color : black; 
    border-width : thin ;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: rgb(128, 128, 128) 0 0 20px;
}

input{
    font-size : 20px;
    line-height: 40px;
    margin : 4px; 
    
}


.chang{
	   
    font-size : 20px;
    border-style : solid;
    border-color: black;
    background-color : grey;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 20px;
    padding-right : 20px;
    border-width : thin;
    text-align: center;
}

.chang:hover{background-color :rgb(3, 3, 3)}


.changpho {
    display : inline ;
}

a{
    text-decoration: none;
}

.connexion {
    font-size : 20px;
    border-style : none;
    border-color: black;
    background-color : #1276BA;
    color : white ; 
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 20px;
    padding-right : 20px;
    margin-left : 100px; 
    margin-bottom : 20px; 
    border-width : thin;
    text-decoration: none;
    text-align: center;   
}

.connexion:hover{background-color :rgb(31, 31, 100)}


.alignement {
    display : inline ;
}


#wave{
    position : fixed; 
    width : auto ;
    height : 100%;
    top : 0px;
    left : 0px;
}

.a_chan{
    text-decoration-color: black;
    font-size: 22px;
}

.a_sup{
    text-decoration-color: black;
    font-size: 12px;

}


.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40px;
    background-color: #0a446b;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 52px;
    left: 0px;
    transition-duration: 300ms;
}

.nav_bar:hover {
    width: 250px;
    transition-duration: 300ms;
}


.ligne img {
    display: block;
    position : fixed;
    left : 0px;
    padding: 0px 9px;
    height: auto;
    width: 22px;
}

.nav_bar li a {
    display: block;
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px 7px;
    font-size: 1.3em;
    font-family: 'HelveticaNeue';
    white-space: nowrap;
    overflow: hidden;
}



.ligne {
    list-style-type: none;
}


.nav_bar li{
    display: block;
}

.button_langue {
    position : absolute; 
    bottom : 52px;
    width: 100%;
}

.button_parametres {
    position : absolute; 
    bottom : 91px;
    width: 100%;
}

.nav_bar li:hover {
    background-color: #8f8f8f;
    color: white;
    transition-duration: 300ms;
}

.nav_bar li:hover a{
    color: white;
}

.nav_bar div {
    display: block;
    margin-left: 16%;
    padding: 3px 15px 0px 30px;
}

li.active {
    background-color: #168ad9;
    color: white;
}


.linear-gradient {
  background: linear-gradient(#c9c9c9, transparent);
  height: 7px;
  width: 100%;
  position: fixed;
  top: 52px;
  left:40px;
}

@font-face
{
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}



@font-face
{
    font-family: 'HelveticaNeue Thin';
    src: url('HelveticaNeue Thin.ttf') format('truetype');
}


@media screen and (max-width: 900px) {

#logo {
        display: none;
    }

.titre{
    display: none;
}

.footer{
    display:none;
}
#wave{
    display: none;
}

}

@media screen and (max-width: 350px) {
    #nav_deconnexion{
        /*display: none;*/
    }
    #nav_menu_bar{
        /*display: block;*/
    }
}

@media screen and (max-width: 650px) {
    #bienvenue p{
        display: none;
    }

}

@media screen and (min-width: 350px) {
    #nav_menu_bar{
        /*display: none;*/
    }
}

.nav_bar_horizon {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 52px;
    top: 0;
    left: 0;
}

#nav_logo{
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 100px;
    height: auto;
}

#logo_li {
    float : left;
}

#nav_menu_bar{
    display: none;
    max-width: 35px;
    height: auto;
}

.nav_bar_horizon li {
    float: right;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
}
.nav_bar_horizon li a {
    display: block;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: "HelveticaNeue Thin";
}

#nav_deconnexion{
    background-color: #ff9300;
    color: white;

}
#nav_deconnexion:hover {
    background-color: #a86100;
    transition-duration: 200ms;
}

#bienvenue {
    margin: auto;
    width: 40%;
    display: block;
}

#bienvenue p {
    margin: auto;
    font-size: 1.8em;
    font-family: 'HelveticaNeue';
}